//todo add webpack config
.login_wrapper {
  height: calc(100vh);

  .cards {
    & button,
    [type="button"] {
      background-color: white;
    }
  }

  .edit_button {
    background-color: transparent !important;
  }
}
