//stone-50
$appWhite: #f9f8f8;
//neutral-300
$appGray: #cdd3ce;
//zinc-400
$appPurple: #bbb5bd;

$indigo-800: #283347;
$indigo-600: #586c91;
$indigo-500: #8fa4c3;
$indigo-200: #dfe7f2;
$indigo-100: #f4f7fc;
